@model  Webeu.Models.ExceptionPage.ExceptionPageModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>  @Html.DisplayNameFor(m => m.ErrorMessage)</p>
<p>arigato @Html.DisplayFor(m => m.ErrorMessage)</p>

<label asp-for="ErrorMessage"></label>
<form method="get">
    <p>form</p>
    <p>  @Html.DisplayNameFor(m => m.ErrorMessage)</p>
    <p>arigato @Html.DisplayFor(m => m.ErrorMessage)</p>
    
</form>